#user www;
#worker_processes 1;
#pid /var/run/nginx.pid;

events {
  worker_connections 128;
  multi_accept on;
}

http {

    server {
        listen ${PORT};
        server_name localhost;

        # HTTP Basic auth
        auth_basic "Login required";
        auth_basic_user_file /etc/nginx/.htpasswd;

        # Forward to Flask
        location / {
            proxy_pass http://localhost:5000;
            proxy_set_header Host "localhost";
        }
    }

}
